@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=PT+Serif&display=swap');

body {
    background-image: url("../images/white-waves.png");
    font-family: "PT Serif", "Georgia", "Times New Roman", serif;
    font-size: 18px;
    color: #222;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    overflow: hidden;
    background-color: #9adf8575;
}
  
li > a {
    float: left;
}

p {
    background-color: #9adf8575;
}


a,
a:link {
  color: rgb(15, 67, 171);
}

a:visited {
  color: #501346; /* contrast ratio: 7.45:1 */
}

a:hover {
  color: rgb(201,53,68);
}

a:active {
  color: rgb(187, 95, 24);
}

h1,
h2,
h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

footer{
  font-size: 14px;
  text-align: center;
}

section,
article {
  background-color: #9adf8575;
  padding: 20px;
  margin: 20px 0;
}

object {
    margin: 20px auto;
}

/* nav {
    background-color: #9adf8575;
    grid-area: nav;
    padding: 10px 20px;
} */

figcaption {
    font-size: 16px;
    padding: 10px 20px 0;
}