@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=PT+Serif&display=swap');

body {
    background-image: url("../images/white-waves.png");
    font-family: "PT Serif", "Georgia", "Times New Roman", serif;
    font-size: 18px;
    color: #222;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas: 
        "header header"
        "nav    main"
        "footer    footer";
}

a,
a:link {
  color: rgb(15, 67, 171);
}

a:visited {
  color: #501346; /* contrast ratio: 7.45:1 */
}

a:hover {
  color: rgb(201,53,68);
}

a:active {
  color: rgb(187, 95, 24);
}

h1,
h2,
h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

footer p {
  font-size: 14px;
  text-align: center;
  background-color: #ddd;
}

section,
article {
  background-color: #ddd;
  padding: 20px;
  margin: 10px 0;
}

section p {
  margin-bottom: 0;
}

header {
  grid-area: header;
}

nav {
    background-color: #ddd;
    grid-area: nav;
    padding: 10px 20px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#resume > main {
    grid-template-areas: 
        "header header"
        "ed ed"
        "lead lead"
        "exp exp"
        "skill skill";
}

#education {
    grid-area: ed;
}

#leadership {
    grid-area: lead;
}

#experience {
    grid-area: exp;
}

#skills {
    grid-area: skill;
}

#photo > main {
    grid-template-areas: 
    "header header"
    ". section"
    ". section"
    ". section"
    ". section"
    ". section"
    ". section"
    ". section";
}

figcaption {
    font-size: 16px;
    padding: 10px 20px 0;
}